@import 'tailwindcss';

@custom-variant dark (.dark &);

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300 dark:bg-gray-950 dark:text-gray-50;
  }
}
