---
import '@fontsource/inter';
import { SEO } from 'astro-seo';
import '../styles/global.css';
import ThemeToggle from '../components/ui/ThemeToggle.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Astro Basics', description = 'Astro boilerplate website' } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      canonical={Astro.url.toString()}
    />
    <script is:inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body>
    <ThemeToggle />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
